<nav class="sidebar">
  <ul>
    <li><%= link_to 'Build Your Team', training_build_path %></li>
    <li><%= link_to 'Lead Your Group', training_lead_path %></li>
    <li><%= link_to 'Grow Your Group', training_grow_path %></li>
    <li><%= link_to 'Manage Your Group', training_manage_path %></li>
  </ul>
</nav>
