<%= render "training_nav" %>
<section class="TrainingHeader">

  <h1 class="TrainingHeader__title"><%= I18n.t("training.#{locals[:section]}.title_html") %></h1>
  <div class="TrainingHeader__subtitle"><%= I18n.t("training.#{locals[:section]}.description_html") %></div>

</section>
