<% if @background_image %>
<style>
  .PageHeader {
    background-image: url('<%= asset_path("#{@background_image}") %>');
  }
</style>
<% end %>

<header class="PageHeader">
  <h1 class="PageHeader-title"><%= I18n.t("training.#{action_name}.title_html") %></h1>
  <div class="PageHeader-subtitle"><%= I18n.t("training.#{action_name}.description_html") %></div>
</header>
