<%= render "start_nav" %>
<section class="StartHeader">

  <h1 class="StartHeader__title"><%= I18n.t("start.#{locals[:section]}.title_html") %></h1>
  <div class="StartHeader__subtitle"><%= I18n.t("start.#{locals[:section]}.description_html") %></div>

</section>
