<nav class="sidebar">
  <ul>
    <li><%= link_to 'Build Your Team', start_build_path %></li>
    <li><%= link_to 'Lead Your Group', start_lead_path %></li>
    <li><%= link_to 'Grow Your Group', start_grow_path %></li>
    <li><%= link_to 'Manage Your Group', start_manage_path %></li>
  </ul>
</nav>
