.LayoutSidebar-nav {
  display: none;
  @include media($medium) {
    @include span-columns(1 of 12);
    margin: 0;
    width: 20%;
    height: 100%;
  }
  @include media($large) {
    width: 15%;
  }
  @include media($xlarge) {
    width: 10%;
  }
}

.LayoutSidebar-nav--mobile {
  display: block;
}

.LayoutSidebar-nav--training {
  @include media($medium) {
    width: 25%;
  }
  @include media($large) {
    width: 20%;
  }
  @include media($xlarge) {
    width: 15%;
  }
}

.LayoutSidebar-body {
  @include media($medium) {
    @include span-columns(11 of 12);
    margin: 0;
    width: 80%;
  }
  @include media($large) {
    width: 85%;
  }
  @include media($xlarge) {
    width: 90%;
  }
}

.LayoutSidebar-body--training {
  @include media($medium) {
    margin: 0;
    width: 75%;
  }
  @include media($large) {
    width: 80%;
  }
  @include media($xlarge) {
    width: 85%;
  }
}
