@import "neat-helpers";

// Neat Overrides
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1440);

// Neat Breakpoints
$xsmall-screen: em(320);
$small-screen: em(480);
$medium-screen: em(640);
$large-screen: em(960);
$xlarge-screen: em(1280);
$xxlarge-screen: em(1440);

$mobile-only: new-breakpoint(max-width $xsmall-screen 2);
$xsmall: new-breakpoint(min-width $xsmall-screen 4);
$small: new-breakpoint(min-width $small-screen 4);
$medium: new-breakpoint(min-width $medium-screen 4);
$large: new-breakpoint(min-width $large-screen 8);
$xlarge: new-breakpoint(min-width $xlarge-screen 8);
$xxlarge: new-breakpoint(min-width $xxlarge-screen 8);
