// Typography
$sans-serif: 'PT Sans', $helvetica;
$sans-serif-alt: 'Lato', $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $sans-serif-alt;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);
$base-margin: $base-font-size * 2;
$base-margin-more: $base-font-size * 3;
$base-margin-less: $base-font-size;

// Colors
$green: #D2D951;
$orange: #D7B73E;
$red: #DF4D44;
$darker-gray: #1C1C21;
$dark-gray: #25252C;
$medium-gray: #5B6777;
$light-gray: #B5C0C1;
$lighter-gray: #F4F7FA;
$white: #FFFFFF;


// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $green;

// Link Colors
$base-link-color: $dark-gray;
$base-link-color-alt: $white;
$hover-link-color: $base-accent-color;
$base-button-color: $base-accent-color;
$hover-button-color: darken($base-accent-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: lighten($red, 15);
$error-color: lighten($red, 15);
$notice-color: lighten($green, 15);
$success-color: lighten($green, 15);

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
