<footer class="PageFooter">
  <div class="PageFooter-wrap">
    <div class="PageFooter-copyright">&copy; 2016 REBOOT Combat Recovery. All Rights Reserved.</div>
    <div class="PageFooter-social">
      <a href="http://youtube.com/rebootcombatrecovery"><i class="fa-fw fa fa-youtube fa-lg"></i></a>
      <a href="http://facebook.com/rebootrecovery"><i class="fa-fw fa fa-facebook fa-lg"></i></a>
      <a href="http://www.twitter.com/rebootrecovery"><i class="fa-fw fa fa-twitter fa-lg"></i></a>
    </div>
  </div>
</footer>
