<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=231883973511779";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="Dashboard">
  <div class="Dashboard-feed Feed">

    <section class="Feed-item">
      <header class="Feed-itemHeader">
        <h2 class="Feed-itemHeading">Lorem ipsum dolor sit amet!</h2>
        <div class="Feed-itemDate">January 4, 2016</div>
      </header>
      <img src="<%= asset_path("reboot-article-img.jpg") %>" />
      <p>Our leaders at Camp Lejuene have just completed an incredible year of work. In 2015 they saw an incredible surge in attendance and one of their graduates, turned leader, has just announced his is starting another REBOOT group in the greater Jacksonville area. This means there will now be two groups serving the Camp Lejeune area! They have also recently welcomed their new baby girl, Jubilee!</p>
    </section>

    <section class="Feed-item">
      <!-- <header class="Feed-itemHeader">
        <h2 class="Feed-itemHeading">Sunt in culpa qui officia deserunt mollit anim id est laborum</h2>
        <div class="Feed-itemDate">January 4, 2016</div>
      </header> -->
      <div class="fb-post" data-href="https://www.facebook.com/rebootrecovery/photos/a.471719212844597.127421.200459619970559/1244708902212287/?type=3"></div>

    </section>

    <section class="Feed-item">
      <!-- <header class="Feed-itemHeader">
        <h2 class="Feed-itemHeading">Welcome!</h2>
        <div class="Feed-itemDate">January 4, 2016</div>
      </header> -->
      <div class="fb-post" data-href="https://www.facebook.com/rebootrecovery/posts/1243706342312543"></div>
    </section>

  </div>

  <aside class="Dashboard-sidebar DashboardSidebar">

    <div class="DashboardSidebar-block">
      <h3 class="DashboardSidebar-blockHeading">Download the latest newsletter!</h3>
      <ul class="fa-ul">
        <li>
          <i class="fa fa-newspaper-o fa-li fa-lg fa-fw"></i> <a href="#">December 2015</a>
        </li>
      </ul>
    </div>

    <div class="DashboardSidebar-block DashboardSidebar-block--social">
      <h3 class="DashboardSidebar-blockHeading">Find us on social:</h3>
      <ul class="fa-ul">
        <li>
          <i class="fa-fw fa fa-youtube fa-lg fa-li"></i><a href="http://youtube.com/rebootcombatrecovery">RebootCombatRecovery</a>
        </li>
        <li>
          <i class="fa-fw fa fa-facebook fa-lg fa-li"></i><a href="http://facebook.com/rebootrecovery">RebootRecovery</a>
        </li>
        <li>
          <i class="fa-fw fa fa-twitter fa-lg fa-li"></i><a href="http://www.twitter.com/rebootrecovery">RebootRecovery</a>
        </li>
        <li>
          <i class="fa-fw fa fa-share-square-o fa-lg fa-li"></i><a href="http://www.rebootrecovery.com">RebootRecovery.com</a>
        </li>
      </ul>
    </div>

  </aside>

</div>
