<header class="PageHeader">
  <h1 class="PageHeader-title">Welcome to REBOOT360</h1>
  <div class="PageHeader-subtitle PageHeader-subtitle--alt">We are so excited you have chosen to rise to the occasion and help heal military families in your community.
    Getting started is easy! Watch this video and then visit the Leader Training area of our portal.</div>
</header>
<section class="VideoEmbed-grid">
    <div class="VideoEmbed"><%= get_video_iframe('https://vimeo.com/149941851') %></div>
</section>
