.DownloadList {
  @include mobile-container;
  margin: $base-margin-more 0;
  overflow: hidden;
  text-align: center;

  &-item {
    display: block;
    margin: $base-margin 0;
    text-align: left;
    text-transform: uppercase;

    @include media($large) {
      display: inline-block;
      margin: 0 $base-margin-less;
    }

    i {
      background: $green;
      color: $white;
      float: left;
      font-size: 2em;
      margin-right: 0.2em;
      padding: 0.2em;
    }
    &:hover i {
      color: $white;
    }
  }

  &-text {
    display: inline-block;
    font-weight: bold;
  }

  &-filename {
    display: block;
    font-size: .8em;
    font-weight: normal;
  }
}
