.DownloadList {
  @include mobile-container;
  margin: $base-margin-more 0;
  overflow: hidden;
  text-align: center;

  &-item {
    display: block;
    margin: $base-margin 0;
    text-align: center;
    text-transform: uppercase;

    @include media($large) {
      @include span-columns(2 of 8);
      @include omega(4n);
    }

    i {
      background-color: $green;
      background-size: cover;
      color: $white;
      font-size: 1em;
      margin: 0 auto 0.2em;
      text-align: right;
      padding: 0.2em;
      width: 150px;
      height: 150px;
    }
    &:hover i {
      color: $white;
    }
  }

  &-text {
    display: block;
    font-weight: bold;
    font-size: .8em;
  }

  &-filename {
    display: block;
    font-size: 1.2em;
    font-weight: normal;
  }
}
