$show-desktop-menu: min-width 960px;

.MainMenu {
  @include outer-container;
  background: $white;
  font-family: $header-font-family;
  padding: 0.5em 1em;
  @include media($small) {
    padding: 0.5em 2em 0.5em 1.5em;
  }

  &-logo {
    display: inline-block;
    max-width: 100px;
    @include media($small) {
      max-width: 150px;
    }
  }

  &-list {
    display: none;
    line-height: 40px;
    margin-left: 1em;
    overflow: hidden;
    @include media($small) {
      line-height: 60px;
    }
    @include media($xlarge) {
      margin-left: 2em;
    }
    @include media($show-desktop-menu) {
      display: inline-block;
    }

    &--profile {
      display: none;
    }

    &--tools {
      display: inline-block;
      float: right;
      margin-left: 0;
    }
  }

  &-item {
    float: left;
    font-weight: 700;
    margin: 0 1em;
    text-transform: uppercase;
    i {
      display: none;
    }
  }


  &-toolsItem {
    color: $light-gray;
    font-size: 1.5em;
    margin-left: 1em;

    &--profile {
      display: none;
      @include media($show-desktop-menu) {
        display: block;
      }
    }

    &--menu {
      @include media($show-desktop-menu) {
        display: none;
      }
    }
  }

  &--sidebar {
    background: transparent;
    padding: 0;

    .MainMenu {

      &-logo {
        display: none;
      }

      &-list {
        background: $dark-gray;
        display: block;
        line-height: 1.4em;
        margin-left: 0;

        @include media($show-desktop-menu) {
          display: none;
        }

        &--tools {
          display: none;
        }

        &--profile {
          display: block;
          background: $darker-gray;
          border-top: 3px solid $base-border-color;
        }
      }

      &-item {
        float: none;
        margin: 0;
        i {
          display: inline;
          margin-right: 0.5em;
        }
        a {
          border-bottom: 1px $base-border-color solid;
          color: $base-link-color-alt;
          display: block;
          padding: 1em;
        }
      }
    }
  }
}
